.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 40px;
    gap: 20px;
}

a{
    color: #fff;
    text-decoration: none;
}